Page {
  width: 100%;
  min-height: 100vh;
}
.con {
  padding: 20rpx;
}
.con .list {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0rpx 8rpx 24rpx 0rpx rgba(141, 141, 141, 0.3);
  height: 200rpx;
  border-radius: 20rpx;
  
}
.con .list .left-con {
  width: 488rpx;
  /* border-radius: 6px 0px 0px 6px; */
  background: #ffffff;
  margin-left: 28rpx;
}
.left-con .name {
  font-size: 36rpx;
  font-weight: 400;
  line-height: 48rpx;
  letter-spacing: 0.06em;
  color: #101010;
}
.left-con .time {
  font-size: 22rpx;
  font-weight: normal;
  line-height: 48rpx;
  letter-spacing: 0.06em;
  color: #979797;
}
.receive {
  display: flex;
  margin-top: 100rpx;
  justify-content: center;
}
.receive .button {
  border-radius: 12rpx;
  background: #fff;
  border: 2rpx solid #ea3b26;
  color: #ea3b26;
  text-align: center;
  padding: 10rpx 30rpx;
  font-size: 48rpx;
  font-weight: normal;
  letter-spacing: 0.06em;
}