page {
	background: #E6EEFE;
	height: 100%;
	position: relative;
}

.con {
	background: #E6EEFE;
	/* background: linear-gradient(180deg, #bfd6ff 0%, rgba(238, 238, 238, 0) 100%); */
}

.login_bg {
	width: 100%;
	height: 100%;
}

.login-form {
	width: 90%;
	margin: -200rpx auto;

	.happy {
		font-family: PingFang SC, PingFang SC;
		font-weight: 400;
		font-size: 40rpx;
		color: #101010;
		line-height: 48rpx;
		margin-bottom: 40rpx;
	}

	.input {
		width: 100%;
		height: 92rpx;
		background: #FFFFFF;
		border-radius: 142rpx 142rpx 142rpx 142rpx;
		display: flex;
		align-items: center;
		text-align: center;
		position: relative;

		.phone_icon {
			width: 52rpx;
			height: 52rpx;
			margin-left: 18rpx;

		}

		.line {
			display: block;
			width: 0rpx;
			height: 40rpx;
			border: 2rpx solid #C7C7C7;
			margin: 0rpx 10rpx;
		}

		.code {
			position: absolute;
			right: 20rpx;
			top: 28%;
			font-weight: 400;
			font-size: 30rpx;
			color: #979797;
		}
		.color{
			color: #025BFF;
		}
	}
}

.authorized-btn {
	width: 100%;
	height: 88rpx;
	line-height: 88rpx;
	margin: 0 auto;
	text-align: center;
	background-color: #cecece;
	border: 1rpx solid #cecece;
	color: #fff;
	border-radius: 14rpx;
	font-size: 32rpx;
	margin-top: 60rpx;
	border-radius: 98rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	opacity: 1;
	/* box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(140, 180, 255, 0.83); */


}
.loginColor{
		background-color: #005aff;
		border: 1rpx solid #005aff;
}
/* 条款声明 */
.statement {
	margin-top: 20rpx;
	font-size: 26rpx;
	line-height: 2em;
	color: #999999;
}

.statement-label {
	display: flex;
}

.statement text {
	color: #005aff;
	cursor: pointer;
}

/deep/.uni-checkbox .uni-checkbox-input {
	background-color: #E6EEFE;
}
