.liveRoom {
  position: fixed;
  height: 80rpx;
  width: 80rpx;
  border-radius: 15rpx;
  padding: 5rpx;
  right: 5%;
  bottom: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);

  .anime {
    height: 40rpx;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    .item {
      width: 8rpx;
      height: 40rpx;
      background: #ff5470;
      margin-left: 5rpx;
      animation: loop 2s linear infinite 0s;

      &:nth-child(2) {
        height: 20rpx;
        background: #00ebc7;
        animation: loop 2s linear infinite 0.5s;
      }

      &:nth-child(3) {
        height: 40rpx;
        background: #fde24f;
        animation: loop 2s linear infinite 1s;
      }

      &:nth-child(4) {
        height: 20rpx;
        background: #14c9c9;
        animation: loop 2s linear infinite 1.5s;
      }
    }
  }

  .text {
    font-size: 24rpx;
    line-height: 40rpx;
    font-weight: 400;
  }
}

@keyframes loop {
  0% {
    height: 0rpx;
  }

  50% {
    height: 40rpx;
  }

  100% {
    height: 0rpx;
  }
}

.h-tabs {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-around;
  font-size: 32rpx;
  /*   position: fixed;
    top: 0; */
  z-index: 1000;
  width: 100%;
  background: #fff;
}

.h-tab {
  height: 88rpx;
  line-height: 88rpx;
}

.h-tab.on {
  border-bottom: 3px solid #fd594d;
  font-weight: normal;
  color: #fd594d;
}

.coupons {
  padding: 0rpx 20rpx;
  /* padding-top: 88rpx; */
}

/* .empty {
    text-align: center;
    padding-top: 50rpx;
    color: #999999;
    font-size: 28rpx;
  } */
/* 列表为空 */
.empty {
  margin-top: 200rpx;
  text-align: cneter;
}
.empty-icon {
  display: block;
  width: 80rpx;
  height: 80rpx;
  margin: 0 auto;
  margin-bottom: 20rpx;
}
.empty-icon > image {
  width: 100%;
  height: 100%;
}
.empty-text {
  font-size: 28rpx;
  text-align: center;
  color: #999;
  line-height: 2em;
}
